@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html, body {
  height: 100%;
  width: 100%;
  background-color: #E7E7E7;
  font-family: 'Poppins', sans-serif;
}

.viz-container {
    height: 500px;
    width: 100%;
}

h1, p{
  text-align: center;
}

p {
  font-size: 0.8rem;
  text-align: ;
}

b {
  color: #d7301f;
}